# Ignorar archivos sensibles y temporales
.env
__pycache__/
*.pyc
*.sqlite3
db.sqlite3
media/
*.log
.vscode/
media/
*.pdf
# node.js / Tailwind
node_modules/
*.log

# Django media
media/
documentos/
*.pdf
