{% extends "base.html" %}

{% block title %}Inicio{% endblock %}
{% block page_title %}📚 Qeassy :){% endblock %}

{% block content %}
  <div class="flex flex-col gap-4 items-center mt-10">
    <a href="{% url 'subir_documento' %}" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg w-full max-w-md text-center text-lg shadow">📄 Subir Documento</a>
    <a href="{% url 'pregunta_chatgpt' %}" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg w-full max-w-md text-center text-lg shadow">🧠 Generar preguntas</a>
    <a href="{% url 'practicar' %}" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg w-full max-w-md text-center text-lg shadow">🎯 Practicar</a>
    <a href="{% url 'lista_preguntas' %}" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg w-full max-w-md text-center text-lg shadow">📋 Ver preguntas</a>
  </div>
{% endblock %}

{% block boton_derecha %}
  <div class="text-sm mt-1">
    {% if user.is_authenticated %}
      👋 {{ user.username }} |
      <a href="{% url 'logout' %}" class="hover:underline">Cerrar sesión</a>
    {% else %}
      <a href="{% url 'login' %}" class="hover:underline">Iniciar sesión</a> |
      <a href="{% url 'registro' %}" class="hover:underline">Registrarse</a>
    {% endif %}
  </div>
{% endblock %}
